@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url('https://fonts.googleapis.com/css?family=Adamina');


/* UNCATEGORIZED VARIABLES */
$counter-border-radius: 10px;



/* COUNTER COLORS */
$app-background: rgba(0, 132, 255, 0.503);

$counter-display-color: rgba(0, 255, 0, .8);

$counter-btn-border-color: #4F0000;
$counter-btn-bg: #CF0000;
$counter-btn-hover-bg: rgba(255, 0, 0, 1);
$counter-btn-active-bg: #A30000;



/* PAGE SETUP */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app-container {
    background: $app-background;
    height: 100vh;
    padding-top: 100px;
    width: 100vw;
}



/* COUNTER COMPONENT STYLE */

.counter-container {
    border-radius: $counter-border-radius;
    border: 2px outset #BBB;
    box-shadow: 10px 10px 20px black;
    display: block;
    margin: auto;
    width: 300px;
}

.counter-display {
    background: rgb(0, 10, 0);
    border-radius: calc($counter-border-radius - 2px) calc($counter-border-radius - 2px) 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    h1 {
        color: $counter-display-color;
        font-family: "Audiowide";
        font-size: 2rem;
        text-shadow: 0px 0px 3px $counter-display-color;
    }

    h1:first-of-type {
        letter-spacing: 5px;
    }
}

.counter-btns {
    background: #888;
    border-radius: 0 0 calc($counter-border-radius - 2px) calc($counter-border-radius - 2px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 2px;
    justify-content: center;
    padding: 15px 10px;
    width: 100%;

    button {
        background: $counter-btn-bg;
        border-radius: 3px;
        border: 1px inset $counter-btn-border-color;
        display: block;
        font-family: "Adamina";
        font-weight: 600;
        letter-spacing: 1px;
        padding: 10px;
    }



    .increment-btn,
    .decrement-btn {
        font-size: 2em;
        width: calc(75%/2);
    }

    .reset-btn {
        font-size: 1.5em;
        width: calc(75% + 1px);
    }



    button:hover {
        background: $counter-btn-hover-bg;
    }

    button:active {
        background: $counter-btn-active-bg;
    }

}